# Detect which `ls` flavor is in use
#if ls --color > /dev/null 2>&1; then # GNU `ls`
#	colorflag="--color"
#else # OS X `ls`
#	colorflag="-G"
#fi

# List all files colorized in long format, including dot files
#alias la="ls -lahF ${colorflag}"



# Always use color output for `ls`
#alias ls="command ls ${colorflag}"
#export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'


# Some usefull Git aliases
alias gl='git log --oneline --graph --decorate --all'
alias gt='git status'
alias gss='git stash save'
alias ga='git add'
alias gb='git branch'
alias gpl='git pull'
alias gps='git push'
alias gtls='git ls-remote'
alias gfd='git fetch --dry-run'
alias git-pull-all='find . -type d -name .git -exec sh -c "cd \"{}\"/../ && pwd && git pull" \;'
alias gd='git diff'
alias gdh='git diff HEAD^..HEAD' #best command ever. Found it here https://www.techiedelight.com/find-differences-between-two-commits-git/
alias gds='git diff --staged'
alias g-='git checkout -' #checkout to last branch
alias gl1="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white) - %an%C(reset)%C(auto)%d%C(reset)' --all"
alias gl2="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all"
alias gl3="git log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)' --all"


# Directory moving
alias ..='cd ..'
alias c-="cd - "
alias c='clear'

# Apps
alias qwe="nvim"
alias kk="bat"
alias xc='xclip -selection clipboard'


# Misc
alias diff='colordiff'
alias free='free -h'
alias my_wget='wget -r -np -nd'
alias kill_session_jobs='kill -9 `jobs -p`'
alias untargz='tar -xvzf'


# ls
TREE_IGNORE="cache|log|logs|node_modules|vendor"

alias ls=' exa -l -g --git --icons --group-directories-first'
alias la=' ls -a'
alias ld='ls -D'
alias lt=' ls --tree -L 2 -I ${TREE_IGNORE}'
alias ltt=' ls --tree -L 3 -I ${TREE_IGNORE}'
alias ldt=' ls --tree -D -L 2 -I ${TREE_IGNORE}'
alias ldtt=' ls --tree -D -L 3 -I ${TREE_IGNORE}'

