.emacs.d/elpa
# .config/zsh
.config/tmux/plugins
.config/nvim/lazy-lock.json
.config/nvim/lua/.DS_Store
.config/lazygit/state.yml
.config/karabiner/automatic_backups
.config/zsh/.zcompdump
.config/zsh/.zcompdump-Leonardo’s MacBook Air-5.9
.config/zsh/.zcompdump-*
.config/zsh/.zcompdump-*.zwc
.config/zsh/.zsh_history
.config/.env
.config/mutt/.env
.config/alarm-clock
.config/mutt/.env.example
