set -g prefix C-e
unbind C-b
bind-key C-e send-prefix

unbind %
bind | split-window -h 

unbind '"'
bind - split-window -v

# TODO: probably change for "R" as "r" is better for ranger/vifm
unbind r
bind r source-file ~/.config/tmux/tmux.conf

set-window-option -g mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'xclip -in -selection clipboard'

# vim-like pane switching
bind -r ^ last-window
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

bind -r m resize-pane -Z
# forget the find window.  That is for chumps
# bind-key -r f run-shell "tmux neww ~/.local/bin/tmux-sessionizer"

bind-key -n C-S-Left swap-window -t -1 \; previous-window
bind-key -n C-S-Right swap-window -t +1 \; next-window


# scratchpad session
# https://youtu.be/2I8fB28zfB4
bind -r a display-popup -E -h 70% -w 70% "tmux new-session -A -s scratch"

# cycle panes
# https://youtu.be/B-1wGwvUwm8?t=834
bind -r q select-pane  -t :.+

# cycle through sessions
bind -r i switch-client -p
bind -r o switch-client -n

unbind s
bind-key s choose-tree -swZ

# floating window commands
bind -r b popup -E -h 80% -w 100% -x 100% "htop"
bind -r v popup -E -h 80% -w 100% -x 100% "ping www.google.com.br"
unbind g
bind -r g display-popup -d '#{pane_current_path}' -E -h 100% -w 100% -x 100% "lazygit"
unbind q
bind -r q display-popup -d '#{pane_current_path}' -E -h 100% -w 100% -x 100% "yazi"
unbind u
bind -r u display-popup -d '#{pane_current_path}' -E -h 100% -w 100% -x 100% "lazydocker"
bind -r ';' display-popup -d '#{pane_current_path}' -E -h 100% -w 100% -x 100% "gh dash"
unbind t
bind -r t display-popup -d '#{pane_current_path}' -E -h 100% -w 100% -x 100% "taskwarrior-tui"
