set -g status on
set -g status-position top
# set -g status-justify centre
set -g status-left-length 90
set -g status-right-length 90

# setw -g window-status-separator "   "

set -g status-right '%d-%m-%Y #{download_speed} #{forecast} #[fg=$color_gray]%R #{pomodoro_status}'
# set-window-option -g window-status-current-format "\

set -g status-style 'bg=#333333 fg=white'

# Make active pane stand out with yellow border
set -g pane-active-border-style fg=yellow
set -g pane-border-style fg="#5c6370"

# Show pane indicators at the top-right of each pane
set -g pane-border-status top
set -g pane-border-format "#[align=right]#{?pane_active,#[fg=yellow]●,}#{?#{==:#{pane_id},#{@pinned_pane}},#[fg=cyan]📌,}"
